---
name: Pull Request Build
on: pull_request
env:
  # renovate: datasource=java-version depName=java-jdk
  JAVA_VERSION: '25.0.2+10.0.LTS'
  # renovate: datasource=maven depName=org.apache.maven:maven
  MAVEN_VERSION: '3.9.12'
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6
      - name: Set up Maven
        uses: stCarolas/setup-maven@07fbbe97d97ef44336b7382563d66743297e442f # v4.5
        with:
          maven-version: ${{ env.MAVEN_VERSION }}
      - name: Set up Java
        uses: actions/setup-java@be666c2fcd27ec809703dec50e508c2fdc7f6654 # v5
        with:
          java-version: ${{ env.JAVA_VERSION }}
          distribution: 'temurin'
          cache: 'maven'
      - name: Build with Maven
        run: mvn --batch-mode --update-snapshots verify
